config 'openvpn' 'lan'
        option 'enable' '1'
        #option local {{ public_ip_address }}
        option 'proto' 'tcp'
        option 'dev' 'tap0'
        option 'port' '1194'
        option 'tls_server' '1'
        option 'ca' '/etc/easy-rsa/keys/ca.crt'
        option 'cert' '/etc/easy-rsa/keys/server.crt'
        option 'key' '/etc/easy-rsa/keys/server.key'
        option 'dh' '/etc/easy-rsa/keys/dh2048.pem'
        option 'server_bridge' '192.168.2.1 255.255.255.0 192.168.2.221 192.168.2.240'
        list 'push' 'dhcp-option DNS 192.168.2.1'
        list 'push' 'redirect-gateway def1'
        option 'client_to_client' '1'
        option 'comp_lzo' 'yes'
        option 'keepalive' '10 120'
        option 'status' '/tmp/openvpn_tap0.status'
        option 'persist_key' '1'
        option 'persist_tun' '1'
        option 'verb' '3'
        option 'mute' '20'
