config service "duckdns"
    option enabled          "1"
    option service_name     "duckdns.org"
    option domain           "brepta"
    option username         ""
    option password         "{{ vaulted_ddns_password }}"
    option ip_source        "network"
    option ip_network       "wan"
    option force_interval   "12"
    option force_unit       "hours"
    option check_interval   "10"
    option check_unit       "minutes"
    option update_url       "http://www.duckdns.org/update?domains=[DOMAIN]&token=[PASSWORD]&ip=[IP]"
