server.modules += (
    "mod_auth", "mod_redirect"
)

alias.url += (
    "/my" => "/data/brepta-web/",
)

$HTTP["host"] =~ "^(http://[w+\.?]+)$" {
    url.redirect  = (
        "^/" => "%1/my/"
    )
}

$HTTP["url"] =~ "^/my" {
    dir-listing.activate   = "enable"
    #auth.backend = "plain"
    #auth.backend.plain.userfile = "/data/my_www.passwd"
    #auth.require = ( "" =>
    #    (
    #    "method" => "digest",
    #    "realm"  => "nas",
    #    "require" => "valid-user",
    #    ),
    #)
}
