config wifi-device 'radio0'
	option type 'mac80211'
	option hwmode '11ng'
	option path 'ffe09000.pcie/pci0000:00/0000:00:00.0/0000:01:00.0'
	option htmode 'HT40-'
	option noscan '1'
	option bursting '1'
	option ff '1'
	option compression '1'
	option xr '1'
	option ar '1'
	list ht_capab 'LDPC'
	list ht_capab 'SHORT-GI-20'
	list ht_capab 'SHORT-GI-40'
	list ht_capab 'TX-STBC'
	list ht_capab 'RX-STBC1'
	list ht_capab 'DSSS_CCK-40'
	option country 'CZ'
	option disabled '0'
	option txpower '20'
	option channel '8'

config wifi-iface
	option device 'radio0'
	option mode 'ap'
	option ssid '{{ turris_wifi_name }}'
	option network 'lan'
	option encryption 'psk-mixed'
	option key '{{ turris_wifi_pass }}'
	option macfilter 'allow'
{% for mac in macs %}
	list maclist '{{ mac }}'
{% endfor %}
